@model MembershipPlanDto


<div class="membership-card-content">
    <div class="membership-upper">
        <img src="~/assets/images/dumbbellicon.svg" alt="">
            <h3>@Model.MembershipPlanType Membership</h3>
    </div>

    <div class="membership-underline"></div>

    <p>@Model.Description</p>

    <div class="membership-middle">
        @foreach (var feature in Model.Features)
        {
            <div class="membership-middle-content">
                <span><img src="~/assets/images/check-icon.svg" alt=""></span>
                <span>@feature.Description</span>
            </div>
        }
    </div>

    <div class="card-bg-color">
        <div class="membership-lower">
            <div class="card-grid">
                <div class="card-flex">
                    <div class="card-price">
                        <h4>@Model.Price</h4>
                        <p class="monthly">/monthly</p>
                    </div>
                </div>

                @if (User.Identity != null && User.Identity.IsAuthenticated)
                {
                    <form asp-action="Select" method="post">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="membershipPlanId" value="@Model.Id" />
                        <button class="btn btn--primary" type="submit" id="membership-btn">
                            <span class="btn__text">Join Now</span>
                            <span class="btn__icon" aria-hidden="true">›</span>
                        </button>
                    </form>
                }
                else
                {
                    <a class="btn btn--primary" asp-controller="Account" asp-action="SignIn" id="membership-btn">
                        <span class="btn__text">Join Now</span>
                        <span class="btn__icon" aria-hidden="true">›</span>
                    </a>
                }
            </div>

            <p class="membership-lower-text">* Monthly @Model.MonthlyClassLimit Classes</p>
            <div class="membership-underline2"></div>
            <p>Try Any Membership free for @Model.FreeTrialWeeks week(s)</p>
        </div>
    </div>
</div>